<div class="container">
  <h1>Add your flat</h1>
<%= simple_form_for(@flat) do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

</div>
